<h1>Create a new Appearance: </h1>
<%= form_for(@appearance) do |f|%>
<%= f.label :episode %>
<%= f.collection_select (:episode_id, Episode.all, :id, :date) %><br>
<%= f.label :guest %>
<%= f.collection_select (:guest_id, Guest.all, :id, :name) %><br>
<%= f.label :rating %>
<%= f.number_field :rating %><br>
<%= f.submit %>
<% end %>

<% if @appearance.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@appearance.errors.count, "error") %> prohibited this appearance from being saved:</h2>

    <ul>
    <% @appearance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
