<!DOCTYPE html>
<html>
  <head>
    <title>ImmersiveRailsAssessment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <% if session[:user_id].present? %>
      <li>Welcome, <%= @curent_user.username)%></li>
      <li><%= link_to "Log Out", logout_path, method: :delete%></li>
      <%else%>
      <li><%= link_to 'Log In', login_path %></li>

    </nav>
    <%= yield %>
  </body>
</html>
